body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

a.link-btn {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a.link-btn:hover {
  background: grey;
  color: white;
}

a:hover {
  cursor: pointer;
}

.container {
  padding: 16px 2%;
}

//.container > h2 {
//  display: inline;
//}

.table-action-btn {
  border: none !important;
  padding: 5px !important;
  background: none !important;
  margin-bottom: 10px !important;
  cursor: pointer !important;
  color: black;
}

.generic-create-btn {
  float: right;
  margin-left: 16px;
}
