.wrapper.simplecard {
  text-align: center;
  font-weight: bold;
}

.wrapper.simplecard .main {
  font-size: 28px;
  margin-bottom: 16px;
  color: #a76431;
  padding-top: 16px;
}

.wrapper.simplecard .below {
  text-transform: uppercase;
}

.dashboard {
  background-color: #f0f2f5;
  min-height: 100%;
  padding: 20px;
}

.dashboard .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.dashboard .filters .ant-select {
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .dashboard .filters {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.dashboard .statisticsv2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

@media (max-width: 640px) {
  .dashboard .statisticsv2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard .all-rep-earnings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

@media (max-width: 640px) {
  .dashboard .all-rep-earnings {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard .statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .dashboard .statistics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard .card {
  background-color: white;
  padding: 8px 20px 20px 20px;
  padding-bottom: 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
  text-align: center;
  font-weight: bold;
  min-height: 140px;
  display: -ms-grid;
  display: grid;
}

.dashboard .card .main {
  color: #b5aa10;
  font-size: 30px;
}

.dashboard .card .below {
  font-size: 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .card .collected {
  color: #6f3b87;
  font-size: 16px;
}

.dashboard .card .needtocollect {
  color: #15b251;
  font-size: 16px;
}

.dashboard .card .cost {
  color: #ffc275;
  font-size: 16px;
}

.dashboard .card .revenue {
  color: #1e1e1e;
  font-size: 16px;
}

.dashboard .card.closed .main,
.dashboard .card.closed .side-by-side {
  color: #19b2ce;
}

.dashboard .card.canceled .main,
.dashboard .card.canceled .side-by-side {
  color: #d3131d;
}

.dashboard .card.partial .main,
.dashboard .card.partial .side-by-side {
  color: #16b65f;
}

.dashboard .card.quotations .main,
.dashboard .card.quotations .side-by-side {
  color: #5c3aab;
}

.dashboard .card .title {
  color: #90a5ca;
  font-weight: 700;
  margin: 16px 0;
}

.dashboard .card .side-by-side {
  color: #b5aa10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: end;
  padding: 8px 0;
}

.dashboard .card .side-by-side :nth-child(2) {
  font-weight: 600;
}

.dashboard .org-statsv2 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

@media (max-width: 640px) {
  .dashboard .org-statsv2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
}

.dashboard .order-process-status-counts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

@media (max-width: 640px) {
  .dashboard .order-process-status-counts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
}

.dashboard .order-process-status-counts .wrapper {
  cursor: pointer;
}

.dashboard .org-stats {
  text-align: center;
  border-radius: 8px;
}

.dashboard .org-stats .wrapper {
  border-right: 1px solid #d1d7e1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dashboard .org-stats .wrapper .main {
  font-size: 32px;
  margin-bottom: 16px;
  color: #a76431;
}

.dashboard .org-stats .wrapper .below {
  color: #1e1e1e;
  font-weight: 700;
}

.dashboard .org-stats .wrapper:last-child {
  border-right: none;
}

@media (max-width: 640px) {
  .dashboard .org-stats .wrapper {
    display: block;
    width: 100%;
    border-right: none;
  }
}

.dashboard .total-cost {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 20px;
  width: calc(20% + 40px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.dashboard .total-cost .main {
  font-size: 30px;
  margin-bottom: 16px;
  color: #508cfe;
  padding-top: 16px;
}

.dashboard .total-cost .below {
  font-size: 16px;
  color: #508cfe;
  margin-bottom: 16px;
}

.dashboard .total-cost .title {
  color: #90a5ca;
  font-weight: 700;
  padding-bottom: 20px;
}

.dashboard .total-cost .side-by-side {
  color: #90a5ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .total-cost .side-by-side :nth-child(2) {
  font-weight: 600;
}

.dashboard .product-statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
  text-align: center;
}

@media (max-width: 640px) {
  .dashboard .product-statistics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard .product-statistics .card .main,
.dashboard .product-statistics .card .side-by-side {
  color: #a76431;
}

.expense-stats-container {
  margin-bottom: 16px;
}

.expense-stats-container .expense-stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

@media (max-width: 640px) {
  .expense-stats-container .expense-stats {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */